<style>
  /* Estilos para cambiar el color de las letras del menú */
  .navbar-nav .nav-link {
    color: #3276b3;
  }

  /* Estilos para cambiar el color al hacer hover */
  .navbar-nav .nav-link:hover {
    color: #1c9b31b7;
  }
</style>

<nav class="navbar navbar-expand-sm" style="background-color: #e3f2fd;">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Créditos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/creditos/pago-creditos">Pago de créditos</a></li>
            <li><a class="dropdown-item" href="/creditos/desembolso-creditos">Desembolso de créditos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/productos/mantenimiento-de-productos">Mantenimiento de productos</a></li>
            <li><a class="dropdown-item" href="/productos/tarifarios">Mantenimiento de Tarifarios</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/clientes/mantenimiento-de-clientes">Mantenimiento de clientes</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Reportes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reportes/reporte-ingresos-dia">Ingresos por dia</a></li>
            <li><a class="dropdown-item" href="/reportes/reporte-ingresos-producto">Ingresos por producto</a></li>
            <li><a class="dropdown-item" href="/reportes/reporte-ingresos-cliente">Ingresos por cliente</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sistema
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/sistema/mantenimiento-de-feriados">Mantenimiento de feriados</a></li>
            <li><a class="dropdown-item" href="/sistema/cierre-de-sistema">Cierre de sistema</a></li>
          </ul>
        </li>
      </ul>

    </div>
    <h2 style="color: #3276b3;">Créditos online</h2>
  </div>
</nav>